In [18]:
#!/usr/bin/env python
# coding: utf-8

# In[56]:


from datetime import date, datetime, timedelta
import requests
import json
import pandas as pd
import logging 
from sqlalchemy import create_engine
from time import sleep

logging.basicConfig(
    filename="/home/flavius/main.log",
    format='%(asctime)s - %(levelname)s -%(name)s - %(message)s'
                   ) 


# In[57]:

i = 1
while i > 0:
    # НУЛЕВОЙ ШАГ. Загрузка сырых данных
    engine = create_engine('postgresql://egrn:egrn@localhost:5432/egrn')
    
    # Рабочий вариант
    START_DATE = engine.execute('SELECT max(max_dfrom) FROM stg.short_info_tech_table').fetchall()[0][0].strftime('%d.%m.%Y')
    END_DATE = date.today().strftime('%d.%m.%Y')
    # Тестовый вариант
    #START_DATE = datetime(2023,1,1).strftime('%d.%m.%Y')
    #END_DATE = (date.today() - timedelta(2)).strftime('%d.%m.%Y')
        
    logging.info(f'Стартовая дата{START_DATE}, конечная дата {END_DATE}')

    def get_info(info_type: 'str', start_date: 'str' = START_DATE, end_date: 'str' = END_DATE) -> pd.DataFrame:
        base_url = 'http://egr.gov.by/api/v2/egr'
        url = ''
        response = ''
        try:
            if info_type == 'short_info':
                url = f'{base_url}/getShortInfoByPeriod/{start_date}/{end_date}'
                response = requests.get(url)
                return response.json()
            elif info_type == 'contact_info':
                url = f'{base_url}/getAddressByPeriod/{start_date}/{end_date}'
                response = requests.get(url)
                return response.json()
            elif info_type == 'okved_info':
                url = f'{base_url}/getVEDByPeriod/{start_date}/{end_date}'
                response = requests.get(url)
                return response.json()
            else:
                logging.warning('Функция get_info ничего не вернула!')
        except:
            logging.error(f'Ошибка сетевого запроса к серверу. Код ошибки {response.status_code} \
            . Запрошенный адрес: {url}')
            # Вызывать функцию для парсинга?
            pass

    def download_to_sql(df: pd.DataFrame, schema: str, table: str) -> 0:
        df.to_sql(
            name= table, con= engine,schema= schema, chunksize=10000, if_exists= 'append', index= False
        )
        return 0


    # In[98]:

    download_to_sql(organizations_short_info, 'stg', 'main_short_info')
    download_to_sql(address_info, 'stg', 'main_address_info')
    download_to_sql(okved_info, 'stg', 'main_okved_info')
    
    # ПЕРВЫЙ ШАГ. Удаление дубликатов из слоя сырых данных и заполнение тех. таблиц
    engine.execute(
        '''
        create table stg.cur_main_short_info as
            select distinct msi.*
            from stg.main_short_info as msi;

        truncate table stg.main_short_info RESTART IDENTITY;
        insert into stg.main_short_info (ngrn, dfrom, org_name, status, org_type)
            select ngrn, dfrom, org_name, status, org_type
            from stg.cur_main_short_info;

        DROP TABLE IF EXISTS stg.cur_main_short_info;

        create table stg.cur_main_address_info as
            select distinct mai.*
            from stg.main_address_info as mai;

        truncate table stg.main_address_info RESTART IDENTITY;
        insert into stg.main_address_info (ngrn, dfrom, vregion, vdistrict, vnp, vulitsa, vdom, vpom, vemail, vtels, location)
            select ngrn, dfrom, vregion, vdistrict, vnp, vulitsa, vdom, vpom, vemail, vtels, location
            from stg.cur_main_address_info;

        DROP TABLE IF EXISTS stg.cur_main_address_info;

        create table stg.cur_main_okved_info as
            select distinct moi.*
            from stg.main_okved_info as moi;

        truncate table stg.main_okved_info RESTART IDENTITY;
        insert into stg.main_okved_info (ngrn, dfrom, okved_code, okved_text)
            select ngrn, dfrom, okved_code, okved_text
            from stg.cur_main_okved_info;

        DROP TABLE IF EXISTS stg.cur_main_okved_info;

        
        INSERT INTO stg.short_info_tech_table (max_dfrom)
        SELECT MAX(dfrom)
        FROM stg.main_short_info
        ON CONFLICT ON CONSTRAINT short_info_tech_table_max_dfrom_key
        DO NOTHING;

        INSERT INTO stg.address_info_tech_table (max_dfrom)
        SELECT MAX(dfrom)
        FROM stg.main_address_info
        ON CONFLICT ON CONSTRAINT address_info_tech_table_max_dfrom_key
        DO NOTHING;

        INSERT INTO stg.okved_info_tech_table (max_dfrom)
        SELECT MAX(dfrom)
        FROM stg.main_okved_info
        ON CONFLICT ON CONSTRAINT okved_info_tech_table_max_dfrom_key
        DO NOTHING;

        '''
    )
    
    # ВТОРОЙ ШАГ. Загрузка в слой детальных данных
    engine.execute(
        '''
        INSERT INTO dds.ngrns (ngrn)
        SELECT distinct ON (ngrn) ngrn
        FROM stg.main_short_info as msi
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT ngrns_ngrn_key
        DO NOTHING;

        INSERT INTO dds.org_names (org_name)
        SELECT distinct ON (org_name) org_name
        FROM stg.main_short_info as msi
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT org_names_org_name_key
        DO NOTHING;

        INSERT INTO dds.okveds (okved_code, okved_text)
        SELECT distinct ON (okved_code, okved_text) okved_code, okved_text
        FROM stg.main_okved_info as moi
        WHERE moi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.okved_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT okveds_okved_code_okved_text_key
        DO NOTHING;

        INSERT INTO dds.statuses (status)
        SELECT distinct ON (status) status
        FROM stg.main_short_info as msi
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT statuses_status_key
        DO NOTHING;

        INSERT INTO dds.org_types (org_type)
        SELECT distinct ON (org_type) org_type
        FROM stg.main_short_info as msi
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT org_types_org_type_key
        DO NOTHING;

        INSERT INTO dds.regions (region)
        SELECT distinct ON (vregion) vregion
        FROM stg.main_address_info as mai
        WHERE mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT regions_region_key
        DO NOTHING;

        INSERT INTO dds.districts (district)
        SELECT distinct ON (vdistrict) vdistrict
        FROM stg.main_address_info as mai
        WHERE mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT districts_district_key
        DO NOTHING;

        INSERT INTO dds.settlements (settlement)
        SELECT distinct ON (vnp) vnp
        FROM stg.main_address_info as mai
        WHERE mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT settlements_settlement_key
        DO NOTHING;


        INSERT INTO dds.contacts (location, email, phone)
        SELECT distinct ON (location, vemail, vtels) location, vemail, vtels
        FROM stg.main_address_info as mai
        WHERE mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT contacts_location_email_phone_key
        DO NOTHING;

        INSERT INTO dds.dates (date)
        SELECT distinct ON (dfrom) dfrom
        FROM stg.main_short_info as msi 
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT dates_date_key
        DO NOTHING;
        '''
    )
    
    # ТРЕТИЙ ШАГ. Загрузка данных в витрину
    engine.execute(
        '''
        INSERT INTO dm.organization(
            org_name, ngrn, org_type, date, status, okved_code, okved_text,
            region, district, settlement, location, email, phone
            )
        SELECT DISTINCT ON (org_name, ngrn, status, location)
        msi.org_name,
        msi.ngrn,
        msi.org_type,
        msi.dfrom,
        msi.status,
        COALESCE(moi.okved_code, 'Нет') as okved_code,
        COALESCE(moi.okved_text, 'Нет') as okved_text,
        mai.vregion,
        mai.vdistrict,
        mai.vnp,
        mai.location,
        mai.vemail,
        mai.vtels
        FROM stg.main_short_info as msi
        LEFT JOIN
        stg.main_okved_info as moi
        ON msi.ngrn = moi.ngrn
        LEFT JOIN
        stg.main_address_info as mai
        ON msi.ngrn = mai.ngrn
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2) or 
            mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2) or
            moi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.okved_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT organization_org_name_ngrn_key
        DO UPDATE SET date = EXCLUDED.date, status = EXCLUDED.status, okved_code = EXCLUDED.okved_code, okved_text = EXCLUDED.okved_text;    )
    
    
    engine.dispose()
    sleep(600)

IntegrityError: (psycopg2.errors.NotNullViolation) ОШИБКА:  значение NULL в столбце "okved_code" отношения "organization" нарушает ограничение NOT NULL
DETAIL:  Ошибочная строка содержит (2, 12 СТОМАТОЛОГИЧЕСКАЯ ПОЛИКЛИНИКА, 100755259, ЮЛ, 1996-12-12 01:00:00+03, Исключен из ЕГР, null, null, null, null, null, null, null, null).

[SQL:
        INSERT INTO dm.organization(
            org_name, ngrn, org_type, date, status, okved_code, okved_text,
            region, district, settlement, location, email, phone
            )
        SELECT DISTINCT ON (org_name, ngrn, status, location)
        msi.org_name,
        msi.ngrn,
        msi.org_type,
        msi.dfrom,
        msi.status,
        moi.okved_code,
        moi.okved_text,
        mai.vregion,
        mai.vdistrict,
        mai.vnp,
        mai.location,
        mai.vemail,
        mai.vtels
        FROM stg.main_short_info as msi
        LEFT JOIN
        stg.main_okved_info as moi
        ON msi.ngrn = moi.ngrn
        LEFT JOIN
        stg.main_address_info as mai
        ON msi.ngrn = mai.ngrn
        WHERE msi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.short_info_tech_table
            ) as t WHERE dfrom_rank = 2) or
            mai.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.address_info_tech_table
            ) as t WHERE dfrom_rank = 2) or
            moi.dfrom >= (SELECT max_dfrom FROM (
            SELECT max_dfrom, ROW_NUMBER () OVER (ORDER BY max_dfrom DESC) as dfrom_rank FROM stg.okved_info_tech_table
            ) as t WHERE dfrom_rank = 2)
        ON CONFLICT ON CONSTRAINT organization_org_name_ngrn_key
        DO UPDATE SET date = EXCLUDED.date, status = EXCLUDED.status, okved_code = EXCLUDED.okved_code, okved_text = EXCLUDED.okved_text;        ]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [79]:
organizations_short_info = organizations_short_info.astype({'dfrom': 'datetime64[ns]'})

In [80]:
organizations_short_info

,vfio,ngrn,dfrom,nsi00219,vnaim,vn,vfn
0,Конопацкий Сергей Мечиславович,391967265,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...",NaN,NaN,NaN
1,Пономаренко Виктория Юрьевна,391967278,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...",NaN,NaN,NaN
2,NaN,391862071,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Государственное учреждение здравоохранения ""Ви...",Витебский областной центр паллиативной медицин...,Витебский областной центр паллиативной медицин...
3,NaN,391862084,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Частное сервисное унитарное предприятие ""ЧИЛИ ...","Частное предприятие ""ЧИЛИ Тандем""","""ЧИЛИ Тандем"""
4,NaN,391216631,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Общество с ограниченной ответственностью ""Кату...","ООО ""Катушонок""",Катушонок
...,...,...,...,...,...,...,...
79,NaN,291767390,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Общество с ограниченной ответственностью ""Алан...","ООО ""АлантаЛогистикс""",АлантаЛогистикс
80,Ганул Ольга Валентиновна,692218194,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...",NaN,NaN,NaN
81,NaN,692218217,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Общество с ограниченной ответственностью ""Тарг...","ООО ""Таргет Форс""",Таргет Форс
82,NaN,391843181,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...","Общество с ограниченной ответственностью ""ЗИМК...","ООО ""ЗИМКАЛАЙН""",ЗИМКАЛАЙН
83,Быкова-Лукомская Алексина Юрьевна,491594480,2023-02-15 21:00:00,"{'vnsostk': 'Действующий', 'nsi00219': 33512, ...",NaN,NaN,NaN

In [24]:
okved_info.query('okved_code == "90020"')

           ngrn okved_code   okved_text
222   193671767      90020  Деятельност
520   693291015      90020  Деятельност
605   291762105      90020  Деятельност
888   291780928      90020  Деятельност
964   692036801      90020  Деятельност
1023  491528787      90020  Деятельност
1063  791329899      90020  Деятельност
2054  391096145      90020  Деятельност
2632  193670865      90020  Деятельност
2779  291781276      90020  Деятельност

In [178]:
[0][1:-1]

['', '']

In [175]:
test = get_info('okved_info')

In [176]:
t= [','.join(x[1:]).split(',')[0][1:-1] for x in (str(x).split("'vkvdn': ") for x in test)]

In [174]:
[int(x) for x in t if x]

ValueError: invalid literal for int() with base 10: ''

In [19]:
from datetime import date, datetime, timedelta
import requests
import json
import pandas as pd
import logging 
from sqlalchemy import create_engine
from time import sleep

logging.basicConfig(
    filename="/home/flavius/main.log",
    format='%(asctime)s - %(levelname)s -%(name)s - %(message)s'
                   ) 


# In[57]:

i = 0

while i >= 0:
    # НУЛЕВОЙ ШАГ. Загрузка сырых данных
    if i == 0:
        START_DATE = (date.today() - timedelta(2)).strftime('%d.%m.%Y')
        END_DATE = date.today().strftime('%d.%m.%Y')
    else:
        START_DATE = (date.today() - timedelta(1)).strftime('%d.%m.%Y')
        END_DATE = date.today().strftime('%d.%m.%Y')  
        
    logging.info(f'Стартовая дата{START_DATE}, конечная дата {END_DATE}')


    # In[58]:


    engine = create_engine('postgresql://egrn:egrn@localhost:5432/egrn')


    # In[59]:


    def get_info(info_type: 'str', start_date: 'str' = START_DATE, end_date: 'str' = END_DATE) -> pd.DataFrame:
        base_url = 'http://egr.gov.by/api/v2/egr'
        url = ''
        response = requests.get(base_url)
        try:
            if info_type == 'short_info':
                url = f'{base_url}/getShortInfoByPeriod/{start_date}/{end_date}'
                response = requests.get(url)
                return response.json()
            elif info_type == 'contact_info':
                url = f'{base_url}/getAddressByPeriod/{start_date}/{end_date}'
                response = requests.get(url, timeout=20)
                return response.json()
            elif info_type == 'okved_info':
                url = f'{base_url}/getVEDByPeriod/{start_date}/{end_date}'
                response = requests.get(url, timeout=20)
                return response.json()
            else:
                logging.warning('Функция get_info ничего не вернула!')
                return 0
        except:
            logging.error(f'Ошибка сетевого запроса к серверу. Код ошибки {response.status_code} \
            . Запрошенный адрес: {url}')
            # Вызывать функцию для парсинга?
            pass

    def download_to_sql(df: pd.DataFrame, schema: str, table: str) -> 0:
        try:
            df.to_sql(
                name= table, con= engine,schema= schema, chunksize=10000, if_exists= 'append', index= False
            )
        except:
            logging.critical(f'Ошибка при загрузке датафрейма {df.name} в базу данных')
            logging.exception("Ошибка загрузки датафрейма в базу данных")
            pass
        
        return 0


    # In[98]:


    organizations_short_info = pd.DataFrame(get_info('short_info', START_DATE, END_DATE))
    address_info = pd.DataFrame(get_info('contact_info', START_DATE, END_DATE))
    okved_info = pd.DataFrame(get_info('okved_info', START_DATE, END_DATE))
    logging.info('Все датафреймы записаны в БД')

    engine.dispose()
    i+= 1
    sleep(120)

ConnectionError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

In [10]:
a = requests.get('https://vk.com')

In [12]:
a.status_code

200

In [25]:
address_info

,ngrn,dfrom,vregion,vdistrict,vnp,vulitsa,vdom,vpom,vemail,vtels,location
0,191772922,2014-05-02T21:00:00.000+00:00,Витебская,Нет,Орша,1 Мая,25,7,Нет,Нет,Витебская область г. Орша
1,191247883,2011-01-02T22:00:00.000+00:00,Нет,Нет,Минск,Домашевский,11а,704,Нет,"8017-213-69-35,8029-690-28-91",г. Минск Московский район
2,790856839,2013-05-06T21:00:00.000+00:00,Могилевская,Нет,Могилев,Буянова,19,21,Нет,80256-773436,Могилевская область г. Могилев Ленинский район
3,100890525,2008-04-23T21:00:00.000+00:00,Нет,Нет,Минск,Стариновская,37,10н,Нет,Нет,г. Минск Первомайский район
4,391703587,2014-02-19T21:00:00.000+00:00,Витебская,Нет,Орша,Ленина,161 У-2,Нет,Нет,8(029)719-42-82,Витебская область г. Орша
...,...,...,...,...,...,...,...,...,...,...,...
680281,290962841,2010-10-20T21:00:00.000+00:00,Брестская,Нет,Брест,лейтенанта Рябцева,100,Нет,Нет,8-029-208-33-82,Брестская область г. Брест Ленинский район
680284,391099966,2013-11-14T21:00:00.000+00:00,Витебская,Лепельский,Лепель,Интернациональная,36,18,Нет,8(029)6192534,Витебская область Лепельский район г. Лепель
680286,193142852,2018-09-27T21:00:00.000+00:00,Нет,Нет,Минск,Революционная,22,18,Нет,+375 29 609-58-85,г. Минск Центральный район
680287,791112585,2018-04-25T21:00:00.000+00:00,Могилевская,Нет,Могилев,Чигринова,9,1,Нет,+37544-7010662,Могилевская область г. Могилев Октябрьский район
680290,790285026,2005-07-26T21:00:00.000+00:00,Могилевская,Нет,Бобруйск,Урицкого,94-е,1,Нет,787-35,Могилевская область г. Бобруйск Ленинский район

In [31]:
t = [len(x) for x in okved_info['okved_code'].values]

In [1]:
sorted(t, reverse=True)

NameError: name 't' is not defined

In [ ]:

    organizations_short_info = pd.DataFrame(get_info('short_info', START_DATE, END_DATE))
    address_info = pd.DataFrame(get_info('contact_info', START_DATE, END_DATE))
    okved_info = pd.DataFrame(get_info('okved_info', START_DATE, END_DATE))

    # In[99]:

    organizations_short_info = organizations_short_info[
        [
            'ngrn', 'dfrom', 'vfio', 'vnaim', 'nsi00219'
        ]
    ]
    address_info = address_info[
        [
            'ngrn', 'dfrom', 'vregion', 'vdistrict', 'vnp', 'vulitsa',
            'vdom', 'vpom', 'nsi00202', 'vemail', 'vtels'
       ]
    ]
    okved_info = okved_info[
        [
            'ngrn', 'dfrom', 'nsi00114'
        ]
    ]


    # In[100]:


    location = [
        ','.join(x[1:]).split(',')[0][1:-1] for x in (str(x).split("'vnsfull': ") for x in address_info['nsi00202'])
    ]
    address_info['location'] = location
    address_info = address_info.drop(columns=['nsi00202']).drop_duplicates(subset=['ngrn'])
    address_info = address_info.fillna('Нет')

    organizations_short_info['org_name'] = organizations_short_info['vfio'].combine_first(organizations_short_info['vnaim'])
    status = [
        ','.join(x[1:]).split(',')[0][1:-1] for x in (str(x).split("'vnsostk': ") for x in organizations_short_info['nsi00219'])
    ]
    organizations_short_info['status'] = status
    organizations_short_info['org_type'] = organizations_short_info.loc[organizations_short_info['vfio'].isnull() != True, 'vfio'] = 'ИП'
    organizations_short_info['org_type'].loc[(organizations_short_info['vfio'].isnull() == True)] = 'ЮЛ'
    organizations_short_info = organizations_short_info.drop(columns=['vfio', 'vnaim', 'nsi00219']).drop_duplicates(subset=['ngrn'])
    organizations_short_info = organizations_short_info.fillna('Нет')

        # Создаёт список ОКВЭД в строковом формате
    okved_code = [
        ','.join(x[1:]).split(',')[0][1:-1] for x in (str(x).split("'vkvdn': ") for x in okved_info['nsi00114'])
    ]
    okved_info['okved_code'] = okved_code
    okved_text = [
        ','.join(x[1:]).split("',")[0][1:] for x in (str(x).split("'vnvdnp': ") for x in okved_info['nsi00114'])
    ]
    okved_info['okved_text'] = okved_text
    okved_info = okved_info.drop(columns=['nsi00114']).drop_duplicates(subset=['ngrn'])
    okved_info= okved_info.fillna('Нет')



    # Загрузка в базу данных
    download_to_sql(organizations_short_info, 'stg', 'main_short_info')
    download_to_sql(address_info, 'stg', 'main_address_info')
    download_to_sql(okved_info, 'stg', 'main_okved_info')

In [17]:
okved_info.query('okved_code == 85')

Empty DataFrame
Columns: [ngrn, dfrom, okved_code, okved_text]
Index: []